<ion-content mode="ios">
  <ion-tabs style="padding-top: 65px">
    <ion-tab-bar slot="top" color="light">
      <ion-tab-button (click)="fPage()">
        <ion-label>ประเภท</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button (click)="fPage2()">
        <ion-label>แนะนำ</ion-label>
      </ion-tab-button> -->
      <!--
      <ion-tab-button (click)="fPage3()">
        <ion-label>ค้นหา</ion-label>
      </ion-tab-button> -->
      <ion-tab-button (click)="fPage4()">
        <ion-label>เพิ่มเติม</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- ──────────────────────────────────────────────────────────────────────────────── -->
  <div style="margin-top: 15vh">
    <ng-container *ngIf="foodPage === 1  ">
      <ion-row style="margin-bottom: 20px">
        <ion-col
          size="12"
          style="text-align: left; margin-left: 10px; font-size: 18px"
        >
          <label>รายการประเภทอาหาร</label>
        </ion-col>
        <span style="text-align: left; margin-left: 15px; font-size: 14px"
          >วันที่ {{dateNow}}</span
        >
      </ion-row>

      <ng-container *ngFor="let label of foodTypeLabel">
        <div class="card card-foodtype" (click)="selectFood(label.id)">
          <ion-row>
            <ion-col size="3">
              <div style="padding: 10px auto">
                <img
                  src="{{label.foodTypeImagePath ? label.foodTypeImagePath : './assets/img/logo.png'}}"
                  style="width: 80px; height: 80px"
                />
              </div>
            </ion-col>
            <ion-col size="9">
              <ion-label style="font-size: 20px"
                >{{label.foodTypeName}}</ion-label
              >
              <div
                *ngIf="label.isSelect"
                style="
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  background: rgb(194, 90, 38);
                  width: 20px;
                  height: 20px;
                  border-radius: 15px;
                  z-index: 11;
                "
              ></div>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>
      <!-- ─────────────────────────────────────────────────────────────────────────── -->
    </ng-container>

    <ng-container *ngIf="true">
      <div class="card card-basket" (click)="selectBasket()">
        <div style="text-align: center">
          <span id="boot-icon" class="bi bi-basket icon-basket"></span>
        </div>

        <div class="card card-listNumber">
          <label style="text-align: center">{{basketUnit}}</label>
        </div>
      </div>
    </ng-container>
    <!-- ──────────────────────────────────────────────────────────── -->
    <ng-container *ngIf="foodPage === 2  ">
      <ion-row>
        <ion-col
          size="12"
          style="text-align: left; margin-left: 10px; font-size: 18px"
        >
          <label>รายการประเภทอาหารแนะนำ</label>
        </ion-col>
        <span style="text-align: left; margin-left: 15px; font-size: 14px"
          >วันที่ {{dateNow}}</span
        >
      </ion-row>
    </ng-container>
    <!-- ─────────────────────────────────────────────────────────────────────────── -->
    <!-- <ng-container *ngIf="foodPage === 3  ">
      <ion-row style="position: relative; bottom: 20px">
        <div class="col-9">
          <ion-searchbar
            [(ngModel)]="searchText"
            animated="true"
            placeholder="ค้นหารายการอาหาร"
          ></ion-searchbar>
        </div>
        <div class="col-3">
          <ion-button
            color="medium"
            style="width: 90px; height: 37px; margin-top: 10px"
            (click)="updateSearchResults()"
            >ค้นหา</ion-button
          >
        </div>
      </ion-row>

      <ng-container *ngFor="let data of paginationFood">
        <div class="card card-foodtype">
          <div class="row">
            <div class="col-10">
              <div class="row">
                <div class="col-12 ml-20 mt-10">
                  <ion-label style="font-size: 20px">{{data.name}}</ion-label>
                </div>
                <div class="col-12 ml-20">
                  <ion-label style="font-size: 20px"
                    ><label style="font-size: 12px"
                      >ปริมานแคลอรี่ที่จะได้รับ :
                    </label>
                    {{data.calorie}}</ion-label
                  >
                </div>
              </div>
            </div>
            <div class="col-2" style="margin: 10px 0px">
              <div class="row" style="position: relative; height: 80px">
                <div class="col-12" style="position: absolute; top: 0px">
                  <div
                    class="card card-upDown"
                    (click)="data.unit = data.unit +1"
                  >
                    <ion-icon name="chevron-up-outline"></ion-icon>
                  </div>
                </div>
                <div
                  class="col-12"
                  style="
                    text-align: center;
                    position: absolute;
                    top: 24px;
                    right: 11px;
                    width: 100px;
                  "
                >
                  {{data.unit}}
                </div>
                <div class="col-12" style="position: absolute; bottom: 7px">
                  <div
                    class="card card-upDown"
                    (click)="data.unit = data.unit === 0 ? data.unit = 0 : data.unit -1"
                  >
                    <ion-icon name="chevron-down-outline"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="cal() !== 0 || isEdit">
        <div class="card card-footter">
          <div class="row">
            <div class="col-5">
              <label class="label-totalcal">แคลอรี่ที่รวม :</label>
            </div>
            <div class="col-3">
              <label class="label-totalcalNumber">{{cal()}}</label>
            </div>
            <div class="col-4">
              <ion-button
                class="btn-submit"
                [color]="cal() > 0 ? 'success' : 'danger'"
                (click)="confirm()"
              >
                {{cal() > 0 ? 'ยืนยัน' : 'นำออก'}}
              </ion-button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container> -->
    <!-- ──────────────────────────────────────────────────────────── -->
    <ng-container *ngIf="foodPage === 4  ">
      <ion-row>
        <ion-col
          size="12"
          style="text-align: left; margin-left: 10px; font-size: 18px"
        >
          <label>บันทึกรายการอาหารเพิ่มเติ่ม</label>
        </ion-col>
        <span style="text-align: left; margin-left: 15px; font-size: 14px"
          >วันที่ {{dateNow}}</span
        >
      </ion-row>
      <ion-row mode="ios">
        <div class="col-12">
          <div
            class="card"
            style="margin: 10px; border-radius: 10px; padding: 10px"
          >
            <div class="row" style="padding: 10px 0px 0px 10px">
              <div class="col-8">
                <label>รายการอาหารที่ได้ทำการบันทึกไว้</label>
              </div>
              <div class="col-4" style="text-align: center">
                <ion-button
                  style="height: 26px; width: 80px; font-size: 14px"
                  color="success"
                  (click)="addListFood()"
                  >+ เพิ่มอาหาร</ion-button
                >
              </div>
            </div>
            <hr />
            <ng-container *ngFor="let item of foodTypeLabel;let i = index">
              <ion-label
                style="font-size: 20px; margin-top: 10px; margin-bottom: 10px"
                *ngIf="item.isUser"
              >
                {{item.foodTypeName}}</ion-label
              >
              <ng-container *ngFor="let food of item.foodLists;let f = index">
                <ng-container *ngIf="food.userId">
                  <div class="card card-addFood">
                    <ion-row>
                      <ion-col size="10">
                        <ion-row>
                          <ion-col size="3">
                            <div style="padding: 10px auto">
                              <img
                                src="{{item.foodTypeImagePath ? item.foodTypeImagePath:'./assets/img/logo.png'}}"
                                style="
                                  width: 70px;
                                  height: 70px;
                                  margin-top: 5px;
                                "
                              />
                            </div>
                          </ion-col>
                          <ion-col size="9">
                            <div class="row">
                              <div class="col-12">
                                <ion-label style="font-size: 20px"
                                  >{{food.name}}</ion-label
                                >
                              </div>
                              <div class="col-12">
                                <ion-label style="font-size: 20px"
                                  ><label style="font-size: 12px"
                                    >ปริมานแคลอรี่ที่จะได้รับ :
                                  </label>
                                  {{food.calorie}}</ion-label
                                >
                              </div>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                      <div class="col-2" style="margin: 10px 0px">
                        <!-- <div class="row" style="position: relative; height: 80px">
                          <div class="col-12" style="position: absolute; top: 0px">
                            <div class="card card-upDown" (click)="food.unit = food.unit +1;foodCheck()">
                              <ion-icon name="chevron-up-outline"></ion-icon>
                            </div>
                          </div>
                          <div class="col-12" style="
                              text-align: center;
                              position: absolute;
                              top: 24px;
                              right: 18px;
                              width: 100px;
                            ">
                            {{food.unit}}
                          </div>
                          <div class="col-12" style="position: absolute; bottom: 7px">
                            <div class="card card-upDown"
                              (click)="food.unit = food.unit === 0 ? food.unit = 0 : food.unit -1;foodCheck()">
                              <ion-icon name="chevron-down-outline"></ion-icon>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </ion-row>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- <div class="card card-footter" style="left: 0;">
              <div class="row">
                <div class="col-5">
                  <label class="label-totalcal">แคลอรี่ที่รวม :</label>
                </div>
                <div class="col-3">
                  <label class="label-totalcalNumber">{{calCart()}}</label>
                </div>
                <div class="col-4">
                  <ion-button class="btn-submit" [disabled]="calCart() === 0"
                    [color]="calCart() > 0 ? 'success' : 'danger'" (click)="confirm()">
                    {{calCart() > 0 ? 'ยืนยัน' : 'นำออก'}}
                  </ion-button>
                </div>
              </div>
            </div> -->
            <!-- </div> -->
          </div>
        </div>
      </ion-row>
    </ng-container>
    <!-- ─────────────────────────────────────────────────────────────────────────── -->
  </div>
</ion-content>
