.card-foodtype {
  margin: 3px;
  height: 93px;
  border-radius: 10px;
  // box-shadow: 0px 1px 1px rgb(186, 186, 186);
}
.card-addFood {
  margin: 3px;
  height: 93px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px grey;
}
.card-basket {
  position: fixed;
  z-index: 99;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 55px;
  border: 3px solid rgb(243, 156, 18);
  box-shadow: 1px 2px 9px grey;
}
.icon-basket {
  font-size: 30px;
  color: rgb(243, 156, 18);
}
.icon-basket:active {
  font-size: 32px;
  color: rgb(194, 90, 38);
  box-shadow: 1px 2px 20px rgb(194, 90, 38);
}

.card-basket :active {
  position: fixed;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  right: 30px;
  bottom: 30px;
  border: 3px solid rgb(194, 90, 38);
  box-shadow: 1px 2px 9px grey;
}

.card-listNumber {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  position: absolute;
  right: -8px;
  top: -10px;
  background-color: red;
  color: #fff;
  box-shadow: 0px 1px 4px black;
}
// ─────────────────────────────────────────────────────────────────────────────

.card-closePage {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 34px;
  text-align: center;
  padding: 5px 2px;
  background: #f79640;
  color: #fff;
}

.card-foodtype {
  margin: 3px;
  height: 93px;
  border-radius: 10px;
}

.card-upDown {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  padding: 5px 3px;
}
.card-upDown:active {
  border-radius: 100%;
  height: 26px;
  width: 26px;
  padding: 5px 3px;
  font-size: 18px;
}

.label-unit {
  padding-left: 10px;
}

.card-footter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 52px;
  background-color: #f79640;
  color: #fff;
}

.label-totalcal {
  margin: 10px 10px 10px 30px;
  font-size: 16px;
}
.label-totalcalNumber {
  margin: 8px 10px 10px 30px;
  font-size: 30px;
}
.btn-submit {
  height: 35px;
  width: 100px;
  position: relative;
  margin-top: 10px;
}

.card-title {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 1px 6px 1px #ffc107;
  background: #f79640;
  color: #fff;
  position: fixed;
  z-index: 10;
}
.searchBar {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  margin-top: 14vh;
  padding-top: 23px;
  background-color: whitesmoke;
}
