<ion-content>
  <div class="row">
    <div class="col-12">
      <div class="card card-title">
        <div class="card card-closePage" (click)="closePage()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>

        <ion-row style="margin-left: 17px; margin-top: 60px">
          <ion-col size="12" style="text-align: left; margin-left: 10px; font-size: 18px">
            <label>รายการอาหารจาก{{data.foodTypeName}}</label>
          </ion-col>
          <span style="text-align: left; margin-left: 15px; font-size: 14px">วันที่ {{dateNow}}</span>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="card searchBar">
    <div class="row">
      <div class="col-12">
        <ion-searchbar (ionInput)="updateSearchResults($event)" animated="true" placeholder="ค้นหารายการอาหาร"
          mode="ios"></ion-searchbar>
      </div>
    </div>
  </div>
  <div style="padding:15px;background-color:#F4F5F8;width:100%;position:fixed;top:205px;z-index:999">
    <div style="display: flex;
    justify-content: space-around;">
      <span (click)="filter('all')" style="width: 100%;
      text-align: center;" [ngClass]="{'active':typeCurrent === 'all'}">ทั้งหมด</span>
      <span (click)="filter('one')" style="width: 100%;
      text-align: center;" [ngClass]="{'active':typeCurrent === 'one'}">อาหารของคุณ</span>
    </div>
  </div>
  <div style="margin-top: 30vh">
    <span style="margin: 10px; font-size: 20px">สำหรับคุณ :</span>

    <div class="row mt-10">
      <div class="col-12" style="margin-bottom: 10vh">
        <!-- <ng-container *ngIf="data.foodLists.length === 0">
          <div class="card card-foodtype" style="padding: 30px;text-align: center;">
            ไม่พบรายการอาหารของคุณในประเภทนี้
          </div>
        </ng-container> -->
        <ng-container *ngFor="let foodData of data.foodLists">
          <div class="card card-foodtype" *ngIf="typeCurrent === 'one' && foodData.userId !== null">
            <div class="row">
              <div class="col-10">
                <ion-row>
                  <ion-col size="3">
                    <div style="padding: 10px auto">
                      <img src="{{data.foodTypeImagePath ? data.foodTypeImagePath : './assets/img/logo.png'}}"
                        style="width: 70px; height: 70px; margin-top: 5px" />
                    </div>
                  </ion-col>
                  <ion-col size="9">
                    <div class="row">
                      <div class="col-12">
                        <ion-label style="font-size: 20px">{{foodData.name}}</ion-label>
                      </div>
                      <div class="col-12">
                        <ion-label style="font-size: 20px"><label style="font-size: 12px">ปริมานแคลอรี่ที่จะได้รับ :
                          </label>
                          {{foodData.calorie}}</ion-label>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="col-2" style="margin: 10px 0px">
                <div class="row" style="position: relative; height: 80px">
                  <div class="col-12" style="position: absolute; top: 0px">
                    <div class="card card-upDown" (click)="foodData.unit = foodData.unit +1">
                      <ion-icon name="chevron-up-outline"></ion-icon>
                    </div>
                  </div>
                  <div class="col-12" style="
                      text-align: center;
                      position: absolute;
                      top: 24px;
                      right: 11px;
                      width: 100px;
                    ">
                    {{foodData.unit}}
                  </div>
                  <div class="col-12" style="position: absolute; bottom: 7px">
                    <div class="card card-upDown"
                      (click)="foodData.unit = foodData.unit === 0 ? foodData.unit = 0 : foodData.unit -1">
                      <ion-icon name="chevron-down-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-foodtype" *ngIf="typeCurrent === 'all'">
            <div class="row">
              <div class="col-10">
                <ion-row>
                  <ion-col size="3">
                    <div style="padding: 10px auto">
                      <img src="{{data.foodTypeImagePath ? data.foodTypeImagePath : './assets/img/logo.png'}}"
                        style="width: 70px; height: 70px; margin-top: 5px" />
                    </div>
                  </ion-col>
                  <ion-col size="9">
                    <div class="row">
                      <div class="col-12">
                        <ion-label style="font-size: 20px">{{foodData.name}}</ion-label>
                      </div>
                      <div class="col-12">
                        <ion-label style="font-size: 20px"><label style="font-size: 12px">ปริมานแคลอรี่ที่จะได้รับ :
                          </label>
                          {{foodData.calorie}}</ion-label>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              <div class="col-2" style="margin: 10px 0px">
                <div class="row" style="position: relative; height: 80px">
                  <div class="col-12" style="position: absolute; top: 0px">
                    <div class="card card-upDown" (click)="foodData.unit = foodData.unit +1">
                      <ion-icon name="chevron-up-outline"></ion-icon>
                    </div>
                  </div>
                  <div class="col-12" style="
                      text-align: center;
                      position: absolute;
                      top: 24px;
                      right: 11px;
                      width: 100px;
                    ">
                    {{foodData.unit}}
                  </div>
                  <div class="col-12" style="position: absolute; bottom: 7px">
                    <div class="card card-upDown"
                      (click)="foodData.unit = foodData.unit === 0 ? foodData.unit = 0 : foodData.unit -1">
                      <ion-icon name="chevron-down-outline"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="cal() !== 0 || isEdit">
          <div class="card card-footter">
            <div class="row">
              <div class="col-5">
                <label class="label-totalcal">แคลอรี่ที่รวม :</label>
              </div>
              <div class="col-3">
                <label class="label-totalcalNumber">{{cal()}}</label>
              </div>
              <div class="col-4">
                <ion-button class="btn-submit" [color]="cal() > 0 ? 'success' : 'danger'" (click)="confirm()">
                  {{cal() > 0 ? 'ยืนยัน' : 'นำออก'}}
                </ion-button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
