ion-menu-button {
  color: #fff;
}

.ion-card-header {
  border-radius: 30px;
  background-color: #c2dadc;
  box-shadow: 0px 9px 1px 0px #1e9698;
}

.calorie {
  font-size: 35px;
  color: #ff6666;
  // font-weight: bold;
  font-family: Share Tech;
}
.text-eat {
  padding-top: 10px;
}
p {
  font-size: 20px;
}

.weightdisplay {
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-size: 25px;
  color: #fff;
}
.weightdisplay2 {
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-size: 25px;
  color: #ee2020;
  text-shadow: 4px 1px 5px #c7a69f;
}
.weightdisplay3 {
  text-align: center;
  font-size: 18px;
  margin: auto;
  font-size: 25px;
  color: #f48625;
}

.text-card-herder {
  margin: auto;
  font-size: 15px;
}

ion-button {
  width: 18vh;
}

.btn-service {
  width: 10vh;
  padding: 10px;
}
.slide1 {
  background-image: url("/assets/img/slide1.jpg");
}
.slide2 {
  background-image: url("/assets/img/slide2.jpg");
}
.slide3 {
  background-image: url("/assets/img/slide3.jpg");
}
.btn-read {
  width: 15vh;
}
.slider-pager-page {
  color: white !important;
}

.card-btnReport {
  height: 60px;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  margin: 10px 0px;
  box-shadow: 1px 3px 4px #8e8e8e;
  background: linear-gradient(
    225deg,
    rgb(255, 134, 28) 50%,
    rgb(255, 146, 50) 50%
  );
}
.card-btnReport2 {
  height: 60px;
  width: 209px;
  border-radius: 10px 0px 0px 10px;
  margin: 10px 0px 0px 14px;
  box-shadow: 1px 3px 4px #8e8e8e;
  background: linear-gradient(
    225deg,
    rgb(255, 134, 28) 50%,
    rgb(255, 146, 50) 50%
  );
}

.labelReport {
  text-align: start;
  margin: 12px 20px 10px 10px;
  font-size: 20px;
  color: #fff;
}
.labelFood {
  text-align: start;
  margin: 12px 10px 0px 0px;
  font-size: 20px;
  color: #fff;
}
.custom-Img {
  height: 50px;
}
.custom-ImgBasket {
  height: 50px;
  margin-top: 5px;
}
