<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>
<!-- ──────────────────────────────────────────────────────────────────────────────── -->
<ion-content mode="ios">
  <ion-row>
    <ion-col size="12">
      <ion-card class="ion-card-header">
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <img
                src="{{avatar}}"
                style="width: 80px; margin-left: 10px"
                alt=""
              />
            </ion-col>
            <ion-col size="9">
              <ion-row>
                <ion-col size="12" style="text-align: right">
                  <span>{{dateNow}}</span>
                </ion-col>
                <ion-col size="12" style="text-align: right">
                  <p>ปริมาณแคลอรี่ของวันนี้</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="4">
                  <p style="text-align: center" class="text-eat">ทานได้อีก</p>
                </ion-col>
                <ion-col size="4">
                  <ng-container
                    *ngIf="resUserId !== null && resUserId !== undefined"
                  >
                    <p style="text-align: center" class="calorie">
                      {{bmr}}
                      <!-- {{resUserId.resData.targetCal}} -->
                    </p>
                  </ng-container>
                </ion-col>
                <ion-col size="4">
                  <p style="text-align: center" class="text-eat">แคลอรี่</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <!-- • • • • • -->
                  <ion-row style="text-align: center">
                    <p class="text-card-herder">น้ำหนัก</p>
                    <ng-container
                      *ngIf="resUserId !== null && resUserId !== undefined"
                    >
                      <p class="weightdisplay" style="font-size: 25px">
                        {{resUserId.resData.weight }}
                      </p>
                    </ng-container>
                    <p class="text-card-herder">กก.</p>
                    <p class="text-card-herder">ส่วนสูง</p>
                    <ng-container
                      *ngIf="resUserId !== null && resUserId !== undefined"
                    >
                      <p class="weightdisplay" style="font-size: 25px">
                        {{resUserId.resData.height }}
                      </p>
                    </ng-container>

                    <p class="text-card-herder">ซม.</p>
                  </ion-row>
                  <!-- • • • • • -->
                  <ion-row style="text-align: center; margin-top: 10px">
                    <p class="text-card-herder">BMI</p>
                    <p [ngClass]="bmiStyle" style="font-size: 25px">
                      {{resCalBmi.bmi}}
                    </p>

                    <p class="text-card-herder">สัดส่วนคุณคือ</p>
                    <p [ngClass]="bmiStyle" style="font-size: 25px">
                      {{resCalBmi.stateMent}}
                    </p>
                    <p></p>
                  </ion-row>
                  <!-- • • • • • -->
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- ──────────────────────────────────────────────────────────────────────────────── -->
  <ion-row style="background: #e1e4e44f">
    <ion-col size="12" style="text-align: left; margin-left: 25px">
      <ion-label style="font-size: 15px">
        <ion-icon name="create-outline"></ion-icon>
        ทำการบันทึกรายการอาหารเพื่อนำไปคำนวนแคลอรี่
      </ion-label>
    </ion-col>
  </ion-row>
  <!-- ──────────────────────────────────────────────────────────────────────────────── -->
  <ion-row style="margin: 10px 0px">
    <div class="col-6">
      <div class="card card-btnReport" (click)="goPageReport()">
        <div class="row">
          <div class="col-8">
            <label class="labelReport">รายงาน</label>
          </div>
          <div class="col-4">
            <img
              class="custom-Img"
              src="assets\icon\1103-confetti-lineal.gif"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-btnReport2" (click)="goPageFood()">
        <div class="row">
          <div class="col-4">
            <img
              class="custom-ImgBasket"
              src="assets\icon\146-basket-trolley-shopping-card-lineal.gif"
              alt=""
            />
          </div>
          <div class="col-8">
            <label class="labelFood">รายการอาหาร</label>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-6" style="margin: 10px 0px; text-align: center">
      <ion-button style="width: 150px" color="secondary" (click)="goPageFood()"
        >รายงาน</ion-button
      >
    </div>
    <div class="col-6" style="margin: 10px 0px; text-align: start">
      <ion-button style="width: 150px" color="warning" (click)="goPageFood()"
        >เลือกรายการอาหาร</ion-button
      >
    </div> -->
    <!-- <ion-col style="text-align: center">
          <ion-button color="warning" (click)="goPageFood()"
            >อาหารเที่ยง</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button color="warning" (click)="goPageFood()"
            >อาหารเย็น</ion-button
          >
        </ion-col>
        <ion-col style="text-align: center">
          <ion-button color="warning" (click)="goPageFood()"
            >อาหารว่าง</ion-button
          >
        </ion-col> -->
  </ion-row>
  <!-- ──────────────────────────────────────────────────────────────────────────────── -->
  <ion-row style="background: #e1e4e44f">
    <ion-col size="12" style="text-align: left; margin-left: 25px">
      <ion-label style="font-size: 15px">
        <ion-icon name="albums-outline"></ion-icon>
        แนะนำสำหรับคุณ
      </ion-label>
    </ion-col>
  </ion-row>
  <!-- ──────────────────────────────────────────────────────────────────────────────── -->
  <ion-row>
    <ion-col size="12">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card class="slide1" style="width: 25vh; height: 20vh">
            <ion-card-header>
              <ion-card-subtitle style="color: #fff"
                >นิตยาสารที่น่าสนใจ</ion-card-subtitle
              >
              <ion-label style="color: #fff"
                >5 ประโยชน์ดีๆ จาก ‘ใยอาหาร’</ion-label
              >
            </ion-card-header>

            <ion-card-content>
              <ion-button
                color="success"
                style="font-weight: bold; margin-bottom: 15px; width: auto"
                style="color: #fff"
                class="btn-read"
                onClick="
                parent.location='https://mgronline.com/goodhealth/detail/9620000091730'"
              >
                อ่านเพิ่มเติม<ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <!-- ───────────────────────────────────────────────────────────────── -->
        <ion-slide>
          <ion-card class="slide2" style="width: 25vh; height: 20vh">
            <ion-card-header>
              <ion-card-subtitle style="color: #fff"
                >นิตยาสารที่น่าสนใจ</ion-card-subtitle
              >
              <ion-label style="color: #fff"
                >6 สิ่งที่จะเกิดขึ้นเมื่อคุณหยุดทานอาหารมื้อดึก</ion-label
              >
            </ion-card-header>
            <ion-card-content>
              <ion-button
                color="success"
                style="font-weight: bold; margin-bottom: 15px; width: auto"
                style="color: #fff"
                class="btn-read"
                onClick="
    parent.location='https://hd.co.th/6-things-will-happen-stop-eating-dinner'"
              >
                อ่านเพิ่มเติม<ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <!-- ───────────────────────────────────────────────────────────────── -->
        <ion-slide>
          <ion-card class="slide3" style="width: 25vh; height: 20vh">
            <ion-card-header>
              <ion-card-subtitle style="color: #fff"
                >นิตยาสารที่น่าสนใจ</ion-card-subtitle
              >
              <ion-label style="color: #fff"
                >การกินอาหารแบบผิดๆ เพื่อสร้างกล้ามเนื้อในผู้หญิง</ion-label
              >
            </ion-card-header>
            <ion-card-content>
              <ion-button
                color="success"
                style="font-weight: bold; margin-bottom: 15px; width: auto"
                style="color: #fff"
                class="btn-read"
                onClick="
    parent.location='https://hd.co.th/diet-mistakes-women-make-trying-to-gain-muscle'"
              >
                อ่านเพิ่มเติม<ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>
