.grid1 {
  height: 100%;
  padding: 0px;
}

.contaier-login {
  width: 90%;
  padding: 10px;
  background: #ffffff;
  border-radius: 41px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
}

.row1 {
  height: 50%;
  background: -moz-linear-gradient(
    45deg,
    rgba(61, 66, 150, 1) 0%,
    rgba(84, 74, 171, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(61, 66, 150, 1) 0%,
    rgba(84, 74, 171, 0.8) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(61, 66, 150, 1) 0%,
    rgba(84, 74, 171, 0.8) 100%
  );
}

.row2 {
  height: 50%;
}

ion-icon {
  margin-right: 15px;
}
ion-slide {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0px !important;
}
.btn-login {
  width: 200px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  background: #fed86f;
}
