<ion-slide style="background-color: #f79640">
  <div class="contaier-login">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            src="./assets/img/logo.png"
            style="width: 100px; height: 100px"
          />
          <h3>Calorie Counting</h3>
          <h1>เข้าสู่ระบบ</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-icon name="person-outline" class="icon-login"></ion-icon>
              <ion-input
                name="user"
                type="text"
                required
                placeholder="ชื่อผู้ใช้งาน"
                [(ngModel)]="loginForm.username"
              ></ion-input>
            </ion-item>
            <br />
            <ion-item>
              <ion-icon name="key-outline"></ion-icon>
              <ion-input
                name="password"
                type="password"
                required
                placeholder="รหัสผ่าน"
                [(ngModel)]="loginForm.password"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button
            class="btn-login"
            type="submit"
            color="success"
            fill="solid"
            expand="full"
            (click)="submitLogin()"
          >
            ยืนยัน
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            <h3 style="color: gray">คุณยังไม่เป็นสมาชิกใชไหม?</h3>
            <u (click)="navRegister()">สมัครสมาชิก</u>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-slide>
