<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: #f79640">
    <ion-title style="font-family: Satisfy; text-align: center; color: #fff">
      Calorie Counting
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button
      (click)="goPage('/tabs/user-profile')"
      color="warning"
      style="font-size: 18px"
      class="btn-service"
      slot="end"
    >
      <!-- <ion-icon name="create-outline"></ion-icon> บริการ -->
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button
      tab="home"
      layout="icon-top"
      style="background-color: #f79640; color: black"
    >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="food-page"
      layout="icon-top"
      style="background-color: #f79640; color: black"
    >
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>อาหาร</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="report"
      layout="icon-top"
      style="background-color: #f79640; color: black"
    >
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>สรุปผล</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="about"
      layout="icon-top"
      style="background-color: #f79640; color: black"
    >
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>เกี่ยวกับเรา</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
