<ion-header>
  <ion-toolbar>
    <ion-title>editdataUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-row>
    <ion-col size="12">
      <label class="label-title"
        >กรุณาแก้ไขข้อมูลให้ครบถ้วนเพื่อความถูกต้อง</label
      >
      <div class="card">
        <div>
          <label class="title">แก้ไขข้อมูลของคุณ</label>
        </div>
        <hr />
        <ion-list>
          <ng-container *ngIf="resUserId !== null && resUserId !== undefined">
            <ion-item>
              <ion-label>ชื่อผู้ใช้ </ion-label>
              <ion-input
                placeholder="{{resUserId.resData.userName}}"
                [(ngModel)]="updateUserModel.username"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>รหัสผ่าน </ion-label>
              <ion-input
                type="password"
                [(ngModel)]="updateUserModel.password"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>ชื่อ </ion-label>
              <ion-input
                placeholder="{{resUserId.resData.firstName}}"
                [(ngModel)]="updateUserModel.firstName"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>นามสกุล </ion-label>
              <ion-input
                placeholder="{{resUserId.resData.lastName}}"
                [(ngModel)]="updateUserModel.lastName"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>น้ำหนัก </ion-label>
              <ion-input
                type="number"
                placeholder="{{resUserId.resData.weight}}"
                [(ngModel)]="updateUserModel.weight"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>ส่วนสง </ion-label>
              <ion-input
                type="number"
                placeholder="{{resUserId.resData.height}}"
                [(ngModel)]="updateUserModel.height"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>อีเมล์ </ion-label>
              <ion-input
                type="email"
                placeholder="{{resUserId.resData.email}}"
                [(ngModel)]="updateUserModel.email"
              ></ion-input>
            </ion-item>
          </ng-container>
        </ion-list>

        <div class="mt-20">
          <ion-row>
            <ion-col size="8">
              <label class="title-delete">ต้องการลบบัญชีผู้ใช้งาน</label>
            </ion-col>
            <ion-col size="4">
              <div style="text-align: end">
                <ion-button
                  class="btn-delete"
                  color="danger"
                  (click)="alertDeleteUsers()"
                  >ลบบัญชี</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="mt-10">
          <ion-row>
            <ion-col size="12">
              <div style="text-align: center">
                <ion-button
                  style="width: 300px"
                  color="success"
                  fill="solid"
                  [disabled]="isSusses()"
                  (click)="submit()"
                  >ยืนยัน</ion-button
                >
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
