.label-title {
  margin: 40px 15px 10px 15px;
  font-size: 18px;
}

.card {
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
}
.title {
  margin: 20px 10px 5px 10px;
  font-size: 16px;
}
.title-delete {
  position: absolute;
  font-size: 14px;
  align-items: center;
  top: 30%;
  left: 10%;
}
.btn-delete {
  align-items: end;
  font-size: 14px;
  width: 70px;
  height: 25px;
}

// ─────────────────────────────────────────────────────────────────────────────
ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
// ─────────────────────────────────────────────────────────────────────────────
