<ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header>
<!-- ──────────────────────────────────────────────────────────────────────────────── -->
<ion-content>
  <div style="position: relative; top: 5%; left: 5%; height: 105px">
    <div style="position: absolute">
      <div class="borAvata">
        <!-- {{imgUserShow | json}} -->
        <ion-avatar class="avatar">
          <img src="{{avatar}}" />
        </ion-avatar>
        <!-- <ng-container *ngIf="imgUser && imgUser !== ''">
          <div *ngIf="!btnSusses">
            <ion-button
              color="success"
              class="editBtn"
              (click)="presentAlert()"
            >
              ยืนยันการแก้ไขรูปภาพ</ion-button
            >
          </div>
        </ng-container> -->
      </div>

      <!-- <div class="card editImg">
        <input
          type="file"
          name="file"
          (change)="handleUpload($event)"
          id="file"
          class="inputfile p-pointer"
        />
        <label for="file" style="margin: 8px 0px 0px 3px" class="p-pointer">
          <i class="bi bi-images"></i>
        </label>
      </div> -->
    </div>
  </div>

  <ng-container *ngIf="resUserId !== null && resUserId !== undefined">
    <div class="card card-HerderProfile">
      <ion-row class="mt-30">
        <ion-col size="12">
          <div class="ml-10 mt-20" style="font-size: 20px">
            <label>สวัสดีคุณ</label>

            <label style="margin-left: 10px"
              >{{resUserId.resData.userName}}</label
            >
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="ml-10" style="font-size: 14px">
            <label>วันที่ </label>
            <span class="ml-10">{{dateNow}}</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <!-- ─────────────────────────────────────────────────────────────────────────── -->

    <ion-row>
      <ion-col size="12">
        <label class="labelDetail">รายระเอียด</label>
      </ion-col>
    </ion-row>
    <!-- ─────────────────────────────────────────────────────────────────────────── -->

    <ion-row>
      <ion-col size="4">
        <div class="detailDashboard">
          <div class="textDetail">
            <label>{{resCalBmi.bmi}}</label>
          </div>
        </div>
        <label class="labelDashboardBMI">BMI</label>
      </ion-col>
      <ion-col size="4">
        <div class="detailDashboard">
          <div class="textDetail">
            <label>{{resUserId.resData.height}}</label>
          </div>
        </div>
        <label class="labelDashboardHeight">Height (cm)</label>
      </ion-col>
      <ion-col size="4">
        <div class="detailDashboard">
          <div class="textDetail">
            <label>{{resUserId.resData.weight}}</label>
          </div>
        </div>
        <label class="labelDashboardWeight">Weight (kg)</label>
      </ion-col>
    </ion-row>
    <!-- ─────────────────────────────────────────────────────────────────────────── -->

    <ion-row>
      <ion-col size="12" class="mt-20">
        <!-- <label class="labelDetail">รายระเอียด</label> -->
        <hr width="100%" size="5" color="770088" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div class="card cardFooter">
          <ion-row>
            <ion-row>
              <ion-col size="8">
                <label class="labelDetail"
                  >ข้อมูลของคุณ {{resUserId.resData.userName}}</label
                >
              </ion-col>
              <ion-col size="4">
                <ion-button
                  class="btn-editProfile"
                  color="warning"
                  (click)="goPage('/tabs/editdata-user')"
                  >แก้ไขข้อมูล
                  <ion-icon class="ml-10" name="create-outline"></ion-icon
                ></ion-button>
              </ion-col>
            </ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="6">
                  <label class="ml-10">ชื่อ :</label>
                  <label style="text-align: center; margin-left: 30px"
                    >{{resUserId.resData.firstName}}</label
                  >
                </ion-col>
                <ion-col size="6">
                  <label>นามสกุล : </label>
                  <label style="text-align: center; margin-left: 20px"
                    >{{resUserId.resData.lastName}}</label
                  >
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <label class="ml-10">อีเมล์ : </label>

              <label style="text-align: center; margin-left: 20px"
                >{{resUserId.resData.email}}</label
              >
            </ion-col>
            <ion-col size="12" class="mt-10">
              <label class="ml-10">สัดส่วนคุณคือ : </label>
              <label
                style="text-align: center; margin-left: 20px; font-size: 18px"
                >{{resCalBmi.stateMent}}</label
              >
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>

  <!-- ─────────────────────────────────────────────────────────────────────────── -->

  <ion-row>
    <ion-col size="12" class="mt-20">
      <div
        class="card"
        style="
          border: 0;
          background-color: #e9e9e9;
          border-radius: 0;
          width: 100%;
        "
      >
        <label style="font-size: 12px; margin-left: 20px"
          >ระบบคำนวนพลังงานอัตโนมัติ by
          <label style="font-size: 15px; font-weight: 600"
            >Calorie Counting</label
          >
        </label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
