.main-connect {
  height: 50vh;
  z-index: 1;
  background-color: #dceced;
  // background-image: linear-gradient(to right, #dceced, #82aaac);
  margin-top: 8vh;
  border-radius: 80px 80px 80px 80px;
  box-shadow: 0px 11px 0px -1px #095e64;
}
.circle {
  position: absolute;
  margin-top: -60px;
  margin-left: 33%;
  margin-right: auto;
  width: 130px;
  height: 130px;
  background-color: #fff;
  z-index: 10;
  border-radius: 120px 120px 120px 120px;
  box-shadow: 0px 5px 12px -9px;
}
.avatar {
  // box-shadow: 1px 1px 8px 1px #3f3720;
  height: 12vh;
  width: 12vh;
  margin: 8px 0px 0px 8px;
}
.borAvata {
  border: 1px solid gray;
  height: 14vh;
  width: 14vh;
  border-radius: 100%;
  background-color: #fff;
}
.editImg {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  top: 7vh;
  left: 13vh;
  border: 1px solid gray;
  background-color: #fff;
}

.imgSelect {
  font-size: 25px;
  color: gray;
  position: absolute;
  top: 5px;
  left: 1vh;
}
.labelDetail {
  font-size: 18px;
  color: black;
  margin: 25px 10px 10px 10px;
}

.detailDashboard {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid gray;
  margin: auto;
  box-shadow: 3px 5px 1px #888888;
  background: linear-gradient(
    225deg,
    rgb(255 245 240) 45%,
    rgba(255, 235, 226, 1) 45%
  );
}

.labelDashboardBMI {
  text-align: center;
  margin: 10px 0px 0px 48px;
}
.labelDashboardHeight {
  text-align: center;
  margin: 10px 0px 0px 25px;
}

.labelDashboardWeight {
  text-align: center;
  margin: 10px 0px 0px 25px;
}

.cardFooter {
  margin: 0 15px;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 3px 10px 5px #888888;
}

.textDetail {
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 30%;
  color: #464242;
}
.card-HerderProfile {
  position: revert;
  border-radius: 10px;
  margin: 5px 10px;
  background: linear-gradient(
    225deg,
    rgba(255, 128, 73, 1) 50%,
    rgba(254, 242, 229, 1) 50%
  );
  box-shadow: 1px 3px #afafaf;
}
.btn-editProfile {
  font-size: 13px;
  width: 110px;
  height: 30px;
  position: relative;
  top: 30%;
  align-items: end;
  margin-left: 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 12px;
  font-weight: 500;
  color: #515152;
  display: inline-block;
}

.card-img {
  width: 175px;
  height: 35px;
  border-radius: 7px;
  text-align: center;
}

.p-pointer {
  cursor: pointer; /* "hand" cursor */
}

i:not([class~="pi"]) {
  background-color: transparent;
  color: #585858;
  font-family: Monaco, courier, monospace;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  padding: 0 4px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0 2px;
  display: inline-flex;
}

.details-img {
  font-size: 12px;
  position: absolute;
  bottom: 15%;
  color: rgb(86, 86, 86);
  left: 220px;
}
.details-icon {
  font-size: 12px;
  position: absolute;
  color: rgb(86, 86, 86);
  cursor: pointer;
  left: 142px;
  top: 45px;
}

.editBtn {
  top: 70px;
  position: absolute;
  left: 157px;
  height: 26px;
  font-size: 14px;
}
