<ion-app>
  <ion-split-pane contentId="main-content" style="background-color: #fff">
    <ion-menu contentId="main-content" type="overlay" side="start">
      <ion-content>
        <ion-list>
          <ion-list-header style="margin: 3vh 10px" class="mb-15">
            ตัวเลือก
          </ion-list-header>
          <hr />

          <ion-menu-toggle class="mt-10">
            <ion-item lines="none" detail="false" routerLinkActive="selected">
              <ion-icon class="main-icon" name="person-outline"></ion-icon>
              <ion-label class="ml-10" (click)="goPage('/tabs/editdata-user')"
                >การตั้งค่าผู้ใช้งาน</ion-label
              >
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle class="mt-10">
            <ion-item
              lines="none"
              detail="false"
              routerLinkActive="selected"
              (click)="appService.logout()"
            >
              <ion-icon class="main-icon" name="log-out-outline"></ion-icon>
              <ion-label class="ml-10">ออกจากระบบ</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
