.card-closePage {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 34px;
  text-align: center;
  padding: 5px 2px;
  background: #f79640;
  color: #fff;
}

.card-foodtype {
  margin: 3px;
  height: 93px;
  border-radius: 10px;
}

.card-upDown {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  padding: 5px 3px;
}
.card-upDown:active {
  border-radius: 100%;
  height: 26px;
  width: 26px;
  padding: 5px 3px;
  font-size: 18px;
}

.label-unit {
  padding-left: 10px;
}

.card-footter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: #f79640;
  color: #fff;
}

.label-totalcal {
  margin: 10px 10px 10px 30px;
  font-size: 16px;
}
.label-totalcalNumber {
  margin: 8px 10px 10px 30px;
  font-size: 30px;
}
.btn-submit {
  height: 35px;
  width: 100px;
  position: relative;
  margin-top: 10px;
}

.card-title {
  width: 100%;
  height: 150px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 1px 6px 1px #ffc107;
  background: #f79640;
  color: #fff;
  position: fixed;
  z-index: 10;
}
.searchBar {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  margin-top: 14vh;
  padding-top: 23px;
  background-color: whitesmoke;
}

.card-addForm {
  margin: 15px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 1px 3px 3px grey;
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
}

.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}
