<ion-content>
  <div class="row">
    <div class="col-12">
      <div class="card card-title">
        <div class="card card-closePage" (click)="closePage()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>

        <ion-row style="margin-left: 17px; margin-top: 60px">
          <ion-col
            size="12"
            style="text-align: left; margin-left: 10px; font-size: 18px"
          >
            <label>เพิ่มรายการเฉพาะคุณ</label>
          </ion-col>
          <span style="text-align: left; margin-left: 15px; font-size: 14px"
            >วันที่ {{dateNow}}</span
          >
        </ion-row>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20vh">
    <div class="col-12">
      <span style="font-size: 18px; margin: 10px 10px 10px 27px"
        >เพิ่มรายการอาหาร :</span
      >
      <div class="card card-addForm">
        <div class="row">
          <div class="col-12" style="padding: 20px">
            <ion-item>
              <ion-label style="font-size: 16px" position="stacked"
                >ชื่ออาหาร</ion-label
              >
              <ion-input
                [(ngModel)]="reqOtherFood.name"
                placeholder="กรอกชื่ออาหารเพิ่มเติม"
              ></ion-input>
            </ion-item>
          </div>
          <div class="col-12">
            <ion-item>
              <ion-label style="font-size: 16px" position="stacked"
                >จำนวนแคลอรี่</ion-label
              >
              <ion-input
                [(ngModel)]="reqOtherFood.calorie"
                type="number"
              ></ion-input>
            </ion-item>
          </div>
        </div>
        <!-- ─────────────────────────────────────────────────────────────────────────── -->
        <div class="row">
          <div class="col-12" style="padding: 15px">
            <span style="margin: 20px">เลือกประเภทอาหารของคุณ</span>
            <ion-list>
              <ion-item>
                <ion-select
                  interface="action-sheet"
                  placeholder="ประเภทอาหาร"
                  [(ngModel)]="reqOtherFood.foodTypeId"
                >
                  <ng-container *ngFor="let type of foodTypeLabel">
                    <ion-select-option [value]="type.id">
                      {{ type.foodTypeName }}
                    </ion-select-option>
                  </ng-container>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <!-- • • • • • -->

        <div class="row" style="margin: 10px">
          <ion-button [disabled]="isCheck()" color="success" (click)="submit()"
            >ยืนยัน</ion-button
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
