<!-- body -->
<ion-content style="--background: #f79640">
  <ion-row>
    <ion-col size="12" style="text-align: center; padding-top: 80px">
      <img
        src="./assets/img/logo.png"
        style="width: 150px; height: 160px; margin-top: 50%; margin-bottom: -5%;"
      />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center;">
      <p class="title">Calorie Counting</p>
    </ion-col>
  </ion-row>

  <!-- <ion-row >
    <ion-col size="12"  style="text-align: center;">
      <ion-button color="success">Sign In</ion-button>
      <ion-button color="light">Sign Up</ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>
