.card-closePage {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 40px;
  font-size: 34px;
  text-align: center;
  padding: 5px 2px;
  background: #f79640;
  color: #fff;
}
.card-title {
  color: #fff;
  background: #f79640;
  border-radius: 0px 0px 20px 20px;
  height: 20vh;
}
