<ion-content>
  <div class="row">
    <div class="col-12">
      <div class="card card-title">
        <div class="card card-closePage" (click)="closePage()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>

        <div style="margin-top: 10vh">
          <ion-row style="margin-left: 10px">
            <ion-col
              size="12"
              style="text-align: left; margin-left: 10px; font-size: 18px"
            >
              <label>รายการอาหารที่ได้เลือกไว้</label>
            </ion-col>
            <ion-col
              size="12"
              style="text-align: left; margin-left: 10px; font-size: 14px"
            >
              <label>สรุปรายการทั้งหมดที่ท่านได้เลือกไว้</label>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!-- ──────────────────────────────────────────────────────────── -->

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <label style="margin: 10px 10px 0px 20px; font-size: 16px"
              >รายละเอียดจากรายการที่เลือกไว้</label
            >
          </div>
          <div class="col-12">
            <label style="margin: 10px 10px 0px 20px; font-size: 14px"
              >รายการผลรวมทั้งหมด</label
            >
          </div>
        </div>

        <div
          class="card"
          style="
            position: relative;
            top: 14px;
            width: 100%;
            margin: 0px 10px 10px 10px;
            border-radius: 10px;
            box-shadow: 0px 3px 4px grey;
            padding: 10px;
          "
        >
          <ng-container *ngFor="let list of data">
            <div class="row">
              <div class="col-8">
                <label>อาหารจากประเภท {{list.foodTypeName}}</label>
              </div>
            </div>

            <div class="row" style="font-size: 14px; margin-top: 10px">
              <div class="col-2">
                <label>จำนวน</label>
              </div>
              <div class="col-6">
                <label>ชื่ออาหาร</label>
              </div>
              <div class="col-4" style="text-align: center">
                <label>แคลอรี่</label>
              </div>
            </div>

            <div
              *ngFor="let list2 of list.datas"
              class="row"
              style="font-size: 16px; margin-top: 10px"
            >
              <div class="col-2" style="text-align: center">
                <label>x {{list2.unit}}</label>
              </div>
              <div class="col-6">
                <label>{{list2.name}}</label>
              </div>
              <div class="col-4" style="text-align: center">
                <label>{{list2.uniteCal}}</label>
              </div>
            </div>
            <hr />
          </ng-container>

          <div class="row">
            <div class="col-8">แคลอรี่ที่รวมกันทั้งหมด :</div>
            <div class="col-4" style="text-align: center">{{cal()}}</div>
          </div>
          <ion-button
            style="margin-top: 20px"
            color="success"
            (click)="submit()"
            >ยืนยัน</ion-button
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
