.label-title {
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
}
.label-subTitle {
  text-align: left;
  margin-left: 15px;
  font-size: 14px;
}

.card-report {
  margin: 10px 15px 0px 10px;
  background-color: #ecdfdf;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #8f8f8f;
}
.delete-report {
  position: absolute;
  right: -5px;
  color: gray;
  font-size: 20px;
  top: -10px;
  border-radius: 100%;
}
.icon-down {
  position: absolute;
  right: 50px;
  top: 47px;
  font-size: 25px;
  color: darkgrey;
}
