<ion-content>
  <div class="row" style="position: absolute; top: 10%">
    <div class="col-12" style="margin: 10px 0px 10px 0px">
      <label class="label-title"
        ><ion-icon name="document-text-outline"></ion-icon>
        รายงานการบันทึกข้อมูลของผู้ใช้งาน</label
      >
      <div>
        <span class="label-subTitle">ตั้งแต่ {{dateStartToEndShow}}</span>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <!-- อันเก่า -->
          <ng-container *ngIf="false">
            <ng-container *ngFor="let data of resReport;let i = index">
              <ng-container>
                <div class="card card-report" (click)="showFoodBefore(i)">
                  <div class="row" style="text-align: center; padding: 10px">
                    <div class="col-2">
                      <label> วันที่</label>
                    </div>
                    <div class="col-4">
                      <label> น้ำหนัก/ส่วนสูง</label>
                    </div>
                    <div class="col-2">
                      <label> BMI</label>
                    </div>
                    <div class="col-4">
                      <label> แคลอรี่ที่เหลือ</label>
                    </div>
                  </div>
                  <!--
                  <div class="card delete-report" (click)="delete(data.id)">
                    <ion-icon name="close"></ion-icon>
                  </div> -->
                  <!-- • • • • • -->

                  <div
                    class="row"
                    style="
                      text-align: center;
                      padding: 0px 10px;
                      font-size: 16px;
                      color: rgb(78, 78, 78);
                      margin-bottom: 10px;
                    "
                  >
                    <!-- {{data | json}} -->
                    <div class="col-2">
                      <label>{{data.updatedAt | dateTime}}</label>
                    </div>

                    <div class="col-4">
                      <label> {{data.weight}} / {{data.height}}</label>
                    </div>
                    <div class="col-2">
                      <label> {{data.bmiTotal}}</label>
                    </div>
                    <div class="col-4">
                      <label> {{sumConst}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <ion-icon
                        *ngIf="!showFood"
                        class="icon-down"
                        name="chevron-down-outline"
                      ></ion-icon>

                      <ion-icon
                        *ngIf="showFood"
                        class="icon-down"
                        name="chevron-up-outline"
                      ></ion-icon>
                    </div>
                  </div>
                  <ng-container *ngIf="showFood">
                    <div
                      class="card"
                      style="
                        margin: 10px;
                        border-radius: 10px;
                        background-color: whitesmoke;
                      "
                    >
                      <div
                        class="row"
                        style="text-align: center; padding: 10px"
                      >
                        <div class="col-2">
                          <label> จำนวน</label>
                        </div>

                        <div class="col-5">
                          <label> ชื่ออาหาร</label>
                        </div>
                        <div class="col-5">
                          <label> แคลอรี่</label>
                        </div>
                      </div>
                      <!-- • • • • • -->
                      <ng-container *ngFor="let food of resReport">
                        <div
                          class="row"
                          style="
                            text-align: center;
                            padding: 0px 10px;
                            font-size: 16px;
                            color: rgb(78, 78, 78);
                            margin-bottom: 10px;
                          "
                        >
                          <div class="col-2">
                            <label>x{{food.unit}}</label>
                          </div>
                          <div class="col-5">
                            <label> {{food.foodName}}</label>
                          </div>
                          <div class="col-5">
                            <label> {{food.calorie}}</label>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
                <hr style="margin: 10px 12px 10px 12px" />
              </ng-container>
            </ng-container>
          </ng-container>

          <!-- อันใหม่ -->
          <ng-container *ngIf="true">
            <ng-container *ngFor="let data of newResReport;let i = index">
              <ng-container>
                <div class="card card-report" (click)="showFoodBefore(i)">
                  <div class="row" style="text-align: center; padding: 10px">
                    <div class="col-2">
                      <label> วันที่</label>
                    </div>
                    <div class="col-4">
                      <label> น้ำหนัก/ส่วนสูง</label>
                    </div>
                    <div class="col-2">
                      <label> BMI</label>
                    </div>
                    <div class="col-4">
                      <label>รายการอาหาร</label>
                    </div>
                  </div>
                  <!--
                  <div class="card delete-report" (click)="delete(data.id)">
                    <ion-icon name="close"></ion-icon>
                  </div> -->
                  <!-- • • • • • -->

                  <div
                    class="row"
                    style="
                      text-align: center;
                      padding: 0px 10px;
                      font-size: 16px;
                      color: rgb(78, 78, 78);
                      margin-bottom: 10px;
                    "
                  >
                    <div class="col-2">
                      <label>{{data.date}}</label>
                    </div>

                    <div class="col-4">
                      <label> {{data.weight}} / {{data.height}}</label>
                    </div>
                    <div class="col-2">
                      <label> {{data.bmiTotal}}</label>
                    </div>
                    <div class="col-4"></div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <ion-icon
                        *ngIf="showFood !== i"
                        class="icon-down"
                        name="chevron-down-outline"
                      ></ion-icon>

                      <ion-icon
                        *ngIf="showFood === i"
                        class="icon-down"
                        name="chevron-up-outline"
                      ></ion-icon>
                    </div>
                  </div>
                  <ng-container *ngIf="showFood === i">
                    <div
                      class="card"
                      style="
                        margin: 10px;
                        border-radius: 10px;
                        background-color: whitesmoke;
                      "
                    >
                      <div
                        class="row"
                        style="text-align: center; padding: 10px"
                      >
                        <div class="col-2">
                          <label> จำนวน</label>
                        </div>

                        <div class="col-5">
                          <label> ชื่ออาหาร</label>
                        </div>
                        <div class="col-5">
                          <label> แคลอรี่</label>
                        </div>
                      </div>
                      <!-- • • • • • -->
                      <ng-container *ngFor="let food of data.foodList;">
                        <!-- {{food | json}} -->
                        <div
                          class="row"
                          style="
                            text-align: center;
                            padding: 0px 10px;
                            font-size: 16px;
                            color: rgb(78, 78, 78);
                            margin-bottom: 10px;
                          "
                        >
                          <div class="col-2">
                            <label>x{{food.unit}}</label>
                          </div>
                          <div class="col-5">
                            <label> {{food.foodName}}</label>
                          </div>
                          <div class="col-5">
                            <label> {{food.calorie}}</label>
                          </div>
                        </div>
                      </ng-container>
                      <hr />
                      <div class="row" style="margin: -5px 0px 10px 10px">
                        <div class="col-9">
                          <label style="font-size: 14px"
                            >จำนวนแคลอรี่ที่จะได้รับสูงสุด
                          </label>
                        </div>
                        <div class="col-3">
                          <label>{{ getLocal.resData.target}} </label>
                        </div>
                        <div class="col-9">
                          <label style="font-size: 14px"
                            >สรุปจำนวนแคลอรี่ที่ได้รับถึงปัจจุบัน
                          </label>
                        </div>
                        <div class="col-3">
                          <label>{{ cal(i)}} </label>
                        </div>
                        <div class="col-9">
                          <label style="font-size: 14px"
                            >แคลอรี่ที่เหลือต่อวัน
                          </label>
                        </div>
                        <div class="col-3">
                          <label
                            style="font-size: 16px"
                            [ngStyle]="{'color': calNetive() < 0 ? 'red' : 'green'}"
                            >{{calNetive()}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <hr
                  *ngIf="i !== newResReport.length - 1"
                  style="margin: 10px 12px 10px 12px"
                />
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>
