
<!-- body -->
<ion-content style="--background: #f79640;">

  <ion-row>
    <ion-col size="12" style="text-align:center; padding-top: 80px;">
      <img src="./assets/img/logo.png" style=" width: 180px;
      height: 190px; ">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center; margin-top: -20px;">
      <p class="title">
        Calorie Counting
      </p>
      <p style="margin-top: -30px;" class="subtitle">
        for Overweight
      </p>
    </ion-col>
    <ion-col size="" style="text-align: center;">
      <p class="about" style="padding-top: 10px;">
        เกี่ยวกับเรา
      </p>
    </ion-col>
    <ion-col size="12" style="text-align: center; margin-top: -20px;">
      <p class="text" style="margin: 20px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป็นแอปพลิเคชันที่อยู่ในขั้นทดลองใช้งาน
        ITD62-485 โครงงานเทคโนโลยีสารสนเทศ<br>และนวัตกรรมดิจิทัล 2
        <br> สำนักวิชสารสนเทศศาสตร์ มหาวิทยาลัยวลัยลักษณ์
        ในการศึกษาภาคเรียนที่ 2
      </p>

      <ion-row>
        <ion-col size="12" style="text-align:center; padding-top: 10px;">

          <img src="./assets/img/13-pizza-lineal.gif" style=" width: 100px;
          height: 100px; ">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
