ion-toolbar,ion-menu-button {
  color: #fff;
}
.title {
  font-family: Share Tech;
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
}
.subtitle {
  font-family: Share Tech;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.about {
  font-family: Share Tech;
  font-size: 25px;
  margin-top: -15px;
  font-weight: bold;
  color: #ffffff;

}
.text {
  font-size: 20px;
  color: #ffffff;
}
