<div class="bg-top">
  <ion-row>
    <ion-col size="6" style="margin-top: 30px">
      <ion-buttons class="btn-back" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-buttons>
    </ion-col>

    <ion-col size="12" style="text-align: center">
      <p size="large" style="color: #ffffff; font-size: 32px">Sign Up</p>
    </ion-col>
  </ion-row>
  <div class="main-header"></div>
</div>
<!-- ──────────────────────────────────────────────────────────────────────────────── -->

<div style="height: 130vh; z-index: 99" mode="ios">
  <ion-content>
    <ion-row style="background: #e1e4e44f; margin: 20px">
      <ion-col size="12" style="text-align: left; margin-left: 25px">
        <ion-label style="font-size: 15px">
          <ion-icon name="create-outline"></ion-icon>
          กรอกข้อมูลส่วนตัวให้ครบถ้วนเพื่อความถูกต้อง
        </ion-label>
      </ion-col>
    </ion-row>

    <!-- ───────────────────────────────────────────────────────────────── -->
    <ion-row style="margin: 20px">
      <ion-col size="12">
        <div class="row">
          <div class="col">
            <label for="formGroupExampleInput2" class="form-label"
              >ชื่อ <label style="color: red">*</label></label
            >
            <input
              type="text"
              class="form-control"
              id="First name"
              [(ngModel)]="registerFrom.firstName"
            />
          </div>
          <div class="col">
            <label for="formGroupExampleInput2" class="form-label"
              >นามสกุล <label style="color: red">*</label></label
            >
            <input
              type="text"
              class="form-control"
              id="Last name"
              placeholder=""
              [(ngModel)]="registerFrom.lastName"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >ชื่อผู้ใช้งาน <label style="color: red">*</label></label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder=""
            [(ngModel)]="registerFrom.username"
          />
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >รหัสผ่าน <label style="color: red">*</label></label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder=""
            [(ngModel)]="registerFrom.password"
          />
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >อีเมล์ <label style="color: red">*</label></label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Calorie@example.com"
            [(ngModel)]="registerFrom.email"
          />
        </div>

        <!-- ──────────────────────────────────────────────────────────────────────────────── -->
        <ion-row>
          <ion-col size="6">
            <label>เลือกเพศ <label style="color: red">*</label></label>
            <ion-list class="customGender">
              <ion-item>
                <ion-select
                  interface="popover"
                  placeholder="กดเพื่อเลือก"
                  [(ngModel)]="registerFrom.gender"
                  style="position: absolute; bottom: 0px"
                >
                  <ion-select-option value="male">ชาย</ion-select-option>
                  <ion-select-option value="female">หญิง</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <div class="col-6" style="margin-top: 5px">
            <label>วัน/เดือน/ปีเกิด <label style="color: red">*</label> </label>
            <input
              type="date"
              [(ngModel)]="dateBirthDay"
              class="form-control"
            />
          </div>
        </ion-row>
        <!-- ──────────────────────────────────────────────────────────────────────────────── -->
        <div class="mt-20">
          <div class="row">
            <div class="col">
              <label for="formGroupExampleInput2" class="form-label"
                >ส่วนสูง <label style="color: red">*</label>
                <label style="font-size: 12px">เซ็นติเมตร</label></label
              >
              <input
                type="number"
                class="form-control"
                id=""
                placeholder=""
                [(ngModel)]="registerFrom.height"
              />
            </div>
            <div class="col">
              <label for="formGroupExampleInput2" class="form-label"
                >น้ำหนัก <label style="color: red">*</label>
                <label style="font-size: 12px">กิโลกรัม</label></label
              >
              <input
                type="number"
                class="form-control"
                id=""
                placeholder=""
                [(ngModel)]="registerFrom.weight"
              />
            </div>
          </div>
        </div>

        <!-- ──────────────────────────────────────────────────────────────────────────────── -->
        <div class="mt-20">
          <ion-row style="background: #e1e4e44f">
            <ion-col size="12" style="text-align: left; margin-left: 25px">
              <ion-label style="font-size: 15px">
                <ion-icon name="checkmark-outline"></ion-icon>
                กรุณาตรวจสอบความถูกต้องก่อนทำการยืนยัน
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
        <!-- ──────────────────────────────────────────────────────────────────────────────── -->

        <div class="mt-10">
          <ion-button
            [disabled]="isSusses()"
            color="success"
            expand="block"
            (click)="register()"
          >
            ยืนยันการสมัครสมาชิก</ion-button
          >
        </div>
        <!-- ──────────────────────────────────────────────────────────────────────────────── -->
      </ion-col>
    </ion-row>
  </ion-content>
</div>
