.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 12px;
  font-weight: 500;
  color: #515152;
  display: inline-block;
}

.card-img {
  width: 175px;
  height: 35px;
  border-radius: 7px;
  text-align: center;
}

.p-pointer {
  cursor: pointer; /* "hand" cursor */
}

.card-img {
  height: 40px;
  text-align: center;
  background-color: gainsboro;
}

.img-label {
  margin-top: 10px;
}

.customGender {
  position: absolute;
  left: 10px;
  width: 18vh;
  height: 40px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  margin: 0px -10px;
}
